body {
  background-color: rgb(21, 1, 44);
}
h1 {
  color: rgb(146, 109, 17);
  font-size: 70px;
}
p {
  color: rgb(0, 0, 0);
}
h1 {
  font-family: "Press Start 2P", cursive;
}
h2 {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 60px;
  color: rgb(146, 109, 17);
}
h5 {
  font-family: "Bungee", cursive;
  font-size: 20px;
}
h6 {
  font-family: "Bungee", cursive;
  font-size: 20px;
}
h4 {
  font-family: "Rampart One", cursive;
  font-size: 40px;
  color: #7259bd;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: silver;
}
h5 {
  margin-top: 0px;
  margin-bottom: 50 px;
  margin-right: 350px;
  margin-left: 30px;
  color: #2a0394;
}
.blackpanthercard {
  position: absolute;
  right: 10px;
  width: 350px;
  padding: 0px;
  float: right;
}
.blackpanther {
  float: left;
}
