{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLACK PANTHER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/blackpanther.css' %}" />
  </head>
  <body>
    <h1>BLACK PANTHER</h1>
    <img src="{% static 'profiles/styles/images/blackpanther4.png' %}" alt='' width="600" class="blackpanther"><br></u>
    
    <h2>T’Challa</h2>
    <h3>As the king of the African nation of Wakanda, T’Challa protects his people as the latest in a legacy line of Black Panther warriors.</h3>
    <img src="{% static 'profiles/styles/images/blackpanthercard.png' %}" alt='' class="blackpanthercard" ><br></u>
    <h4>Beginning Of The Era</h4>
    
<p>                                                                                                    
                                                                  
</p>

    <h5>
        A native of the small, yet technologically advanced African nation of Wakanda, T’Challa accepted the mantle of Black Panther,
         the legendary protector of the Wakandan people, from his father, King T’Chaka, who filled the role before him as his father
         before him and so on. T’Chaka relinquished the title as he grew older and delved further into politics. This was a subject 
         T’Challa looked upon with some dislike, although he acknowledged the increasing importance of it, even as Wakanda maintained 
         an air of secrecy to hide its true nature and precious vibranium mines.   
    </h5> 
<h5>
    Regardless of his feelings for Wakanda’s part on the world stage, T’Challa accompanied T’Chaka to an international summit in Vienna,
    Austria to ratify the Sokovia Accords, which promised to regulate all enhanced persons. Sadly, T’Chaka lost his life when Sokovian
    radical Helmut Zemo detonated a bomb at the well-attended meeting of heads of state, framing Bucky Barnes, the Winter Soldier,
    in the process. At that moment, not only did the throne of Wakanda pass to T’Challa, but also the full weight of the Black Panther’s
    responsibilities, including the task of revenge for the death of the king.
</h5>


  </body>
</html>
