{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPTAIN AMERICA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/captainamerica.css' %}" />
</head>
<body>
    <h1>CAPTAIN AMERICA</h1>
    <img src="{% static 'profiles/styles/images/capame3.png' %}" alt='' class= "captainamerica" ><br></u>
    
    <h2>Steve Rogers</h2>
    <h3>America’s World War II Super-Soldier continues his fight in the present as an Avenger and untiring sentinel of liberty.</h3>
    <h4>Beginning Of The Era</h4>
<p>                                                                                                    
                                                                  
</p>
<img src="{% static 'profiles/styles/images/capshield.png' %}" alt=''class="captainamericacard"><br></u>
    <h5>
        Envious of his friend Bucky Barnes’ military enlistment, and undeterred by his own multiple rejections by the U.S.
         Army, physical weakling Steve Rogers made one more attempt to join the march of men to fight for their country in 
         the dark days of World War II. Rogers’ valiant wish to fight bullies wherever they were grabbed the attention of scientist
          Dr. Abraham Erskine, and he handpicked the idealistic young man for the Army’s Super-Soldier program under his supervision.    
    </h5> 
    
<h5>
    Though Rogers learned of Erskine’s disastrous previous attempts to realize a super-soldier, Germany’s so-called “Red Skull,” 
    he braved the process and emerged from it a new man. With a powerful body and heightened speed and reflexes, Rogers faced his 
    first challenge when forced to chase down Dr. Erskine’s assassin immediately following the experiment. In doing so, he also learned
     of the involvement of Hydra, the Nazi science division, in the doctor’s murder. 
</h5>

</body>
</html>