{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HULK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/hulk.css' %}" />
  </head>
  <body>
    <h1>HULK</h1>
    <img src="{% static 'profiles/styles/images/hulk3.png' %}" alt='' width="600" class="hulk"><br></u>
    
    <h2>Bruce Banner</h2>
    <h3>Exposed to heavy doses of gamma radiation, scientist Bruce Banner transforms into the mean, green rage machine called the Hulk.</h3>
    <h4>Beginning Of The Era</h4>
<p>                                                                                                    
                                                                  
</p>
<img src="{% static 'profiles/styles/images/hulkcard.jpg' %}" alt='' class="hulkcard" ><br></u>
    <h5>
        Bioscience genius Dr. Bruce Banner focused his major studies on the effects of gamma radiation on humans, working alongside
        Dr. Betty Ross at a Virginia University lab. Dr. Ross’ father, General “Thunderbolt” Ross of the U.S. Army, channeled Banner’s
        work into a program to develop weapons for the military, unbeknownst to both doctors. When Banner decided to test what he 
        learned on himself, he triggered a fantastic transformation in himself that resulted in an immense, hulking figure fueled by
        his own rage.    
    </h5> 
<h5>
    Having destroyed his lab as the creature, and inadvertently harming Ross in the process, Banner slipped away to avoid capture 
    and study by the Army and began a desperate quest for a cure to his bizarre affliction.
</h5>


  </body>
</html>
