{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IRON MAN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/ironman.css' %}" />
  </head>
  <body>
    <h1>IRON MAN</h1>
    <img src="{% static 'profiles/styles/images/ironman11.png' %}" alt='' width="600" class="ironman"><br></u>
    
    <h2>Anthony Edward Stark</h2>
    <h3>Genius. Billionaire. Philanthropist. Tony Stark's confidence is only matched by his high-flying abilities as the hero called Iron Man.</h3>
    <h4>Beginning Of The Era</h4>
<p>                                                                                                    
                                                                  
</p>
<img src="{% static 'profiles/styles/images/ironmancard.jpg' %}" alt=''class="ironmancard" ><br></u>
    <h5>
            Genius inventor Tony Stark continued his father Howard Stark’s weaponry business after his parents’ untimely deaths and flew 
            it to even greater heights of innovation. While in Afghanistan to demonstrate a new missile for the U.S. military, Stark’s
             convoy came under fire by a terrorist group known as the Ten Rings and he was severely wounded. Taken prisoner by the group, 
             Stark awoke in their headquarters to learn that shrapnel near his heart had nearly cost him his life, but swift action by s
             cientist and fellow prisoner Ho Yinsen—who had inserted a powerful electromagnet in Stark’s chest—would prolong it temporarily.
    </h5> 
<h5>
      Stalling his captors after they demanded he build them a new weapon, Stark replaced the magnet with the RT, a miniature version of
       a device originally designed by his father, the Arc Reactor. Furthermore, he and Yinsen created a crude suit of armor which could 
       provide them the means with which to escape. The suit worked as planned, though Yinsen sacrificed himself in order to allow Tony 
       enough time to power it up to fight their terrorist captors.
</h5>


  </body>
</html>
