{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPIDER MAN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    /> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/spiderman.css' %}" />
  </head>
  <body>
    <h1>SPIDER MAN</h1>
    <img src="{% static 'profiles/styles/images/spiderman2.png' %}" alt='' width="650" class="blackpanther"><br></u>
    
    <h2> Peter Parker</h2>
    <h3>With amazing spider-like abilities, teenage science whiz Peter Parker fights crime and dreams of becoming an Avenger as Spider-Man.</h3>
    
    <h4>Beginning Of The Era</h4>
    
<p>                                                                                                    
                                                                  
</p>
<img src="{% static 'profiles/styles/images/spidermancard2.jpg' %}" alt='' class="blackpanthercard" ><br></u>
    <h5>
        A bite from a spider somehow granted teenager Peter Parker its arachnid abilities and instead of using them for personal gain, 
        he decided to help others with them. An orphan living with his aunt, May Parker, the boy chose to wear a mask while fighting 
        crime so as not to burden her with his actions.  
    </h5> 
      
<h5>
    Calling himself Spider-Man and sporting a pair of web-shooting devices he’d constructed, Parker wound up in internet videos which 
    attracted the attention of Tony Stark. The billionaire industrialist deduced Spider-Man’s secret identity and approached Parker at 
    his and May’s home in Queens, New York with a request for aid from the hero in an upcoming confrontation with Captain America and 
    a group of other rogue Avengers and associates. Parker was initially hesitant to even admit his secret career as Spider-Man, but 
    the thrill of adventure and Stark’s talk of responsibility drew him in and he accepted the invitation, as well as a new, high-tech 
    costume and web-shooters.
</h5>


  </body>
</html>
