{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THOR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'profiles/styles/thor.css' %}" />
  </head>
  <body>
    <h1>THOR</h1>
    <img src="{% static 'profiles/styles/images/thor2.png' %}" alt='' width="600" class="thor"><br></u>
    
    <h2>Thor Odinson</h2>
    <h3>Thor Odinson wields the power of the ancient Asgardians to fight evil throughout the Nine Realms and beyond.</h3>
    <h4>Beginning Of The Era</h4>
<p>                                                                                                    
                                                                  
</p>
<img src="{% static 'profiles/styles/images/thorcard.png' %}" alt='' width="500" class="thorcard" ><br></u>
    <h5>
        Born 1500 years ago to Odin and Frigga, the king and queen of fabled Asgard, Thor grew into a mighty warrior and protector of his
         home and people. Thought to be rash and even reckless by his father, Thor nevertheless looked forward to the day of his ascension
         to the throne. But, his adoptive brother Loki schemed in private to ensure that day never arrived. He manipulated Thor into
        attacking the Frost Giants, legendary adversaries of the Asgardians and Loki’s people, and Odin—hoping to teach his son
        humility—divested Thor of his magic hammer Mjolnir and banished him to Midgard, the realm also known as Earth.     
    </h5> 
<h5>
    Alone and unable to return to Asgard, Thor met scientists Jane Foster and Erik Selvig in the midst of their investigation into 
    strange activity near a small New Mexico town. While his brother struggled with the limitations of mortals on Earth, Loki worked
    to ensure his own seizure of the Asgardian throne and planned to allow the Frost Giant king—his real father—into Asgard to slay
    Odin in his sleep. Back on Earth, Thor sacrificed himself to save the town from destruction and in doing so, impressed Odin enough
     to restore him to full Asgardian power.
</h5>


  </body>
</html>
